@font-face {
	font-family: 'Poppins';
	font-weight: 300;
	src: local('Poppins-Light'),
		url('./Poppins-Light.woff2') format('woff2'), 
		url('./Poppins-Light.woff') format('woff'),
		url('./Poppins-Light.ttf') format('ttf'),
		url('./Poppins-Light.eot') format('eot');
}