@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	src: local('Poppins-Bold'),
		url('./Poppins-Bold.woff2') format('woff2'), 
		url('./Poppins-Bold.woff') format('woff'),
		url('./Poppins-Bold.ttf') format('ttf'),
		url('./Poppins-Bold.eot') format('eot');
}