@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	src: local('Poppins-Medium'),
		url('./Poppins-Medium.woff2') format('woff2'), 
		url('./Poppins-Medium.woff') format('woff'),
		url('./Poppins-Medium.ttf') format('ttf'),
		url('./Poppins-Medium.eot') format('eot');
}