@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	src: local('Poppins-Regular'),
		url('./Poppins-Regular.woff2') format('woff2'), 
		url('./Poppins-Regular.woff') format('woff'),
		url('./Poppins-Regular.ttf') format('ttf'),
		url('./Poppins-Regular.eot') format('eot');
}